body{

    background-color: blueviolet;
    background-image: url("https://static.vecteezy.com/packs/media/components/home/masthead/img/lavakidneys_800x400@2x-2db5e5a0c944e2b16a11a18674570f76.jpg");
}
hi{color:black} 
img {height: 300px;
width: 400px;}